<div class="bgcolorFull">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Finanziamenti</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/create']">Nuova Richiesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/search']">Ricerca Richiesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/update']">Aggiorna Richiesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/delete']">Elimina Richiesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/daterange']">Richieste per Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sum-importo']">Somma Importi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/average-rate']">Media Rate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
