.warn {
  background: #fdd835;
  color: black;
}
.info {
  background: #0277bd;
  color: white;
}
.success {
  background: #4caf50;
  color: white;
}
.error {
  background: #d32f2f;
  color: white;
}

body{
  //color: #a1a5aa !important;
}
